@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

main {
  max-width: 327px;
  display: flex;
  flex-direction: column;
}

.section {
  color: #f2f2f2;
  padding: 48px 47.5px;
}

.section.sedans {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.section.suvs {
  background-color: hsl(184, 100%, 22%);
}

.section.luxury {
  background-color: hsl(179, 100%, 13%);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.link.sedans {
  color: hsl(31, 77%, 52%);
}

.link.suvs {
  color: hsl(184, 100%, 22%);
}

.link.luxury {
  color: hsl(179, 100%, 13%);
}

.link {
  width: 146px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
  margin-top: 25px;
  border-radius: 25px;
  line-height: 25px;
}

.link:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
.heading {
  color: #f2f2f2;
  font-family: "Big Shoulders", sans-serif;
  font-weight: 700;
  margin-top: 35px;
  font-size: 40px;
}

.paragraph {
  margin-top: 25px;
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  line-height: 25px;
}

@media (min-width: 768px) {
  body {
    padding: 0px;
  }

  main {
    max-width: 920px;
    flex-direction: row;
  }

  .link {
    margin-top: 83px;
  }

  .section.sedans {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .section.luxury {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
